::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #d55959;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d55959 #e7e7e7;
}


.contact-page {
  text-align: center;
  padding: 40px 20px;
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.contact-description {
   color: #909090;
   font-size: 20px;
   font-weight: 400;
   padding: 0;
   margin-bottom: 50px;
}

.itsc-logo {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  margin-top: 150px;
}
