.filter-evals-container {
  width: 95vw;
  height: 60vh;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 25px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.filter-evals-button {
  font-size: 20px;
  background-color: red;
  color: white;
}

.student-select-box {
  display: flex;
}

.eval-table-container {
  overflow-x: auto;
  margin-top: 1rem;
  margin-bottom: 0;
  height: 100%;
}

.eval-select-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
  max-width: 100%;
  text-align: center;
}

.eval-select-table th,
.eval-select-table td {
  padding: 0.75rem;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.default-option {
  color: rgb(112, 112, 112);
}

.section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.label-select-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

