::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #d55959;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d55959 #e7e7e7;
}


.button-group {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 12px;
}

.centered-page-login {
  margin-top: 50px;
}

.centered-page-login h1 {
  text-align: center;
}

.error {
  color: red;
  margin-bottom: 10px;
}