node_modules/
packages/server/node_modules/
.env
packages/server/.env
packages/server/dist/
generated/prisma/
generated/gitreports/
lerna-debug.log
.vscode/
.vscode
packages/database/.env
packages/generated
packages/generated/prisma
packages/generated/gitreports/