node_modules/
lerna-debug.log
README.md
.env
/packages/server/node_modules/
/packages/server/.env
/packages/server/dist/
/prisma/.env
/generated/prisma/
/.vscode/
/packages/client/node_modules/
generated/