.main-content-area {
  height: 83vh;

  box-sizing: border-box;
  flex: 1;
  background-color: #f0f2f5;
  overflow-y: hidden;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  padding-bottom: 90px;
  display: block;
}

.layout-container {
  flex-direction: column;
  height: 100%;
}

header,
footer {
  flex-shrink: 0;
  height: 10vh;
  display: block;
}