/* src/components/Navbar.css */
.navbar {
 height: fit-content;
 width: 100%;
 /* padding: 0.4rem; */
 display: flex;
 justify-content:flex-start; /* pushes content to the left */
 align-items: center;
 position: fixed; /* optional: makes it stick to the top */
 top: 0;
 left: 0;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 border-bottom: 4px solid #f44336;
}


.nav-links a {
 margin-left: 1rem;
 text-decoration: none;
 color: #333;
 font-weight: 500;
}


.nav-links a:hover {
 color: #007bff;
}


.navbar-logo {
 height: 4em;
 padding: 0.4em 2em;
 will-change: filter;
 transition: filter 300ms;
}
